.main {
  display: flex;
  place-items: center;
  flex-direction: column;
  background-image: url(../../../5shared//assets//bg/Apocalypse_21.png);
  background-size: cover;
  height: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.icon {
  cursor: pointer;
  width: 80px;
}
