.inventory {
  position: relative;
}
.wrap {
  background-color: rgba(180, 180, 180, 0.442);
  padding: 10px 20px;
  text-align: center;
}
.char_icon {
  width: 300px;
  position: relative;
}
.btn {
  position: absolute;
  top: 25px;
  right: 5px;
}

.head {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 60px;
  background-color: bisque;
}
.torso {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 260px;
  top: 75px;
  background-color: bisque;
}
.hands {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 150px;
  left: 60px;
  background-color: bisque;
}
.legs {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 260px;
  top: 210px;
  background-color: bisque;
}
.feet {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 280px;
  left: 60px;
  background-color: bisque;
}
.char {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.char div:nth-child(1) {
  position: absolute;
  top: -370px;
  left: 35px;
}
.char div:nth-child(2) {
  position: absolute;
  top: -300px;
  left: 240px;
}
.char div:nth-child(3) {
  position: absolute;
  top: -230px;
  left: 35px;
}
.char div:nth-child(4) {
  position: absolute;
  top: -165px;
  left: 240px;
}
.char div:nth-child(5) {
  position: absolute;
  top: -120px;
  left: 35px;
}

.amunation_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 2px solid black;
}

.loot {
  background-color: rgba(180, 180, 180, 0.442);
  margin: 0;
  padding: 20px 50px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr /1fr 1fr 1fr 1fr;
}
.logo {
  width: 50px;
  cursor: pointer;
}
