.weapons {
  display: flex;
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.weaponCard {
  background-color: rgba(158, 165, 165, 0.563);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.weaponLogo {
  width: 50px;
  margin: 0;
  padding: 5px;
}
.name {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.weaponInfo {
  margin: 0;
  padding: 0;
}
.characteristic {
  display: none;
}
